/*公共样式*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
input, button{
  background: none;
  outline: none;
  border: 0px;
}
a{
  color: #444;
}
a:hover{
  color: #f60;
}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.pagnation-wr{
  text-align: right;
  margin-top: 20px;
}
.ivu-page-item-active{
  background: #FF5B5B;
  border-color: #FF5B5B;

}
.ivu-page-item-active a, .ivu-page-item-active:hover a{
  color: #fff;
}
.ivu-switch-checked{
  border-color: #e8e986;
  background-color: #B8E986;
}
html,body{height:100%;background:#F6F8FA;font-size: 14px !important;
  color: #444;}
li{
	list-style: none;
}

.h-model .ivu-table td, .h-model  .ivu-table th{
  border-bottom:none !important;
  /* font-size:15px; */
  height: 43px;
}
.h-model .ivu-table-wrapper{
  border:none;
}
.h-model .ivu-table:before{
  background: transparent;
}
.h-model .ivu-table:after{
  background: transparent;
}

.header{
  position:fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  line-height: 60px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.05);
  z-index: 11;
}
.header-right{
  float: right;
  width: 600px;
  padding:10px 0;
  height: 60px;
  margin-right: 80px;
}
.header-right-logo{
  width:40px;
  height:40px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #D0021B;
  text-align: center;
  vertical-align: middle;
}
.header-right-logo img{
  display: inline-block;
  margin-top: 10px;
  width: 22px;
  height: auto;
}
.header-right span, .header-right .headerlinks{
  display: inline-block;
  margin-left: 20px;
  line-height: 40px;
  float: right;
}
.header-right .headerlinks{
  cursor: pointer;
}
.header-right .headerlinks i:hover{
  transform: scale(1.4);
}

.header-right i{
  display: inline-block;
}
.header-logo{
  width: 178px;
  height: 31px;
  background: url('../images/logo.png');
  margin-left: 40px;
  margin-top: 15px;
  float: left;
}


.nav_left{
  position:fixed;
  width: 90px;
  text-align: center;
  background-color: #A93439;
  overflow-y: auto;
  padding:20px 0;
}
.nav_left ul li{
  width:100%;
  height: 90px;
  overflow: hidden;
  text-align: center;
  padding:10px 0;
}
.nav_left ul li:hover{
  background: #d82b33;
}
.nav_left ul li span{
  display: block;
  width: 100%;
  height: 43px;
}
.nav_left ul li p{
  color: #fff;
  line-height: 20px;
  margin-top: 8px;
  font-size:12px;
}

.zxGate .content{
  width: 100%;
  padding-top:80px;

}
.zxGate .main{
  margin-left: 90px;
  background: #f6f8fa;
}

.serchBar{
  width:240px;
  height: 40px;
  padding:5px 20px;
  background: #EFF1F4;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  float: right;
}
.serchBar input, .serchBar .serchBtn{
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
  float: left;
}
.serchBar .serchBtn{
  margin: 0;
  color: #E1E1E1;
}
.serchBar input{
  width:170px;
  border:none;
  background:transparent;

}
.mian-wr{
  width: 100%;
  padding:0 30px;
}
.centerList-bd{
  width: 100%;
  margin-top: 20px;
}
.ivu-breadcrumb{
  padding:10px 0;
}
.pageare{
  background: #f6f8fa;
}
.breadCrub{
  padding: 0 30px;
}
.pageareMain{
  background: #fff;
  width:100%;
  padding: 40px;
}
.ivu-tabs-bar{
  margin-bottom: 0;
}
.ivu-tabs-no-animation>.ivu-tabs-content{
  border:1px solid #dcdee2;
  border-top: none;
}
.ivu-tabs.ivu-tabs-card>.ivu-tabs-bar .ivu-tabs-tab{
  padding:8px 40px 7px;
  margin-right: 12px;
  color: #C5C5C5;;
}
.ivu-tabs.ivu-tabs-card>.ivu-tabs-bar .ivu-tabs-tab-active{
  color: #A93439;
}
.ivu-tabs-nav-container:focus .ivu-tabs-tab-focused{
  border-color:#dcdee2 !important;
}

.ivu-table td.overEllipsis>div{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.tabCard .ivu-tabs-nav-container:focus .ivu-tabs-tab-focused{
  border-color: #A93439 !important;
}
.tabCard .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab:hover{
  color: #A93439;
}
.tabCard .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab{
  border-radius: 0;
  background: #fff;
}
.tabCard .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab-active{
  border-top: 1px solid #A93439;
  color: #A93439;
}
.tabCard .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab-active:before{
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #A93439;
  position: absolute;
  top: 0;
  left: 0;
}
.ivu-select{
  position:relative !important;
}
.ivu-select-dropdown{
  top:-140px;
  left: 0;
}
.footer{
  width: 100%;
  background-color: #f6f8fa;
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid #EBEEF5;
}
.footer p{
  font-family: PingFang-SC-Regular;
  font-size: 12px;
  color: #9B9B9B;
  text-align: center;
  line-height: 25px;

}

/*滚动条样式 */
::-webkit-scrollbar{
	width:4px;
	height:4px;
}
::-webkit-scrollbar-track{
	background: #f6f6f6;
	border-radius:2px;
}
::-webkit-scrollbar-thumb{
	background: #aaa;
	border-radius:2px;
}
::-webkit-scrollbar-thumb:hover{
	background: #747474;
}
::-webkit-scrollbar-corner{
	background: #f6f6f6;
}

/**fuying**/
.serchBtn-wr{
  width:100%;
  text-align: right;
}
.serchBtn-wr .ivu-btn{
  width:120px;
  display: inline-block;
  margin-left: 10px;
}
.tableData .ivu-table{
  font-size:14px;
}
.tableData .ivu-table-cell{
  padding-top:5px;
  padding-bottom: 5px;
}
.tableData thead th{
  font-weight:400;
  color: #888;
}
.selfService, .selfInfo{
  padding:40px;
}
.ivu-input{
  height: 40px;
}
.ivu-form .ivu-form-item-label{
  font-size:14px;
}
.ivu-select-single .ivu-select-selection{
  /*height: 40px;*/
}

.centerList .ivu-tabs-bar{
  border: none;
}
.centerList .ivu-tabs-ink-bar{
  background-color: transparent;
}
.centerList .ivu-tabs-nav .ivu-tabs-tab{
  background-color: #F7F8F9;
  padding: 0 30px;
  line-height: 30px;
  border-radius: 6px;
}
.centerList .ivu-tabs-nav-container{
  margin-bottom: 0;
}
.centerList .ivu-tabs-content{
  display: none;
}
.centerList .ivu-tabs-nav .ivu-tabs-tab-active{
  color:#fff;
  background-color: #D0021B !important;
}
.centerList .ivu-tabs-nav .ivu-tabs-tab:hover{
  color:#fff;
  background-color: #FF8A00;
}
.pageDetail{
  background: #fff;
  width: 100%;
  padding:80px 50px;
}
.pageDetail h1{
  margin-bottom: 20px;
  text-align: center;
  font-size:20px;
}
.pageInfos{
  width: 100%;
  text-align: center;
}
.pageInfos span{
  display: inline-block;
  vertical-align: middle;
  line-height: 20px;
  color: #999;
}
.pageDetailMain{
  width: 100%;
  border-top: 1px solid #EBEEF5;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 80px;
}
.pageDetailMain p{
  line-height: 31px;
  margin-bottom: 15px;
  color: #4A4A4A;
}
.pageDetailMain a{

  color: #5583B9;
}
.pageDetailMain p img{
  max-width: 100%;
}
